<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size="12">
    <ion-item>
      <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'SENHA' | translate }}</ion-label>
      <ion-input></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">{{ 'REPETIRSENHA' | translate }}</ion-label>
      <ion-input></ion-input>
    </ion-item> 
  </ion-col> 
</ion-content>
