<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-row class="bloco-imagens">
          <ion-col *ngFor="let imagem of imagens; let i = index" size="4" class="image-card"> 
            <ion-card> 
                <ion-img [src]="imagem.path"></ion-img>  
            </ion-card>
            <ion-button color="primary" (click)="selecionaImage(i)">
              <ion-icon slot="icon-only" name="camera-outline" >
              </ion-icon>
            </ion-button>
          </ion-col>       
      </ion-row>
    <ion-row class="bloco-input">
      <ion-col size="6">
        <ion-item>
          <ion-icon name="person-outline" class="ion-padding-end"></ion-icon>
          <ion-input type="text" autocapitalize="on" placeholder="Nome"></ion-input>          
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input type="text" autocapitalize="on" placeholder="Sobrenome"></ion-input> 
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-icon name="school-outline" class="ion-padding-end"></ion-icon>
          <ion-input type="text" autocapitalize="on" placeholder="Profissão"></ion-input> 
        </ion-item>
      </ion-col> 
      <ion-col size="12">
        <ion-item>
          <ion-icon name="home-outline" class="ion-padding-end"></ion-icon>
          <ion-input type="text" autocapitalize="on" placeholder="Cidade Atual"></ion-input> 
        </ion-item>
      </ion-col> 
      <ion-col size="12">
        <ion-item>
          <ion-icon name="logo-instagram" class="ion-padding-end"></ion-icon>
          <ion-input type="text" autocapitalize="on" placeholder="Instagram"></ion-input> 
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-icon name="call-outline" class="ion-padding-end"></ion-icon>          
          <ion-input type="text" maxlength="14" autocapitalize="on" placeholder="Telefone" [brmasker]="{mask:'(00)00000-0000', len:14, type:'num'}"></ion-input> 
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-icon name="male-female-outline" class="ion-padding-end"></ion-icon>          
          <ion-input type="text" maxlength="14" autocapitalize="on" (click)="selecionaSexo()" placeholder="Sexo" readonly></ion-input> 
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>              
          <ion-icon name="help-outline" class="ion-padding-end"></ion-icon>              
          <ion-input type="text" maxlength="14" autocapitalize="on" (click)="selecionaOrientacao()" placeholder="Orientação Sexual" readonly></ion-input> 
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-textarea placeholder="Sobre mim" maxlength="200"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item-divider>
          <ion-label>
            Controle de Perfil
          </ion-label>
        </ion-item-divider>
          <ion-list>
            <ion-item>
              <ion-label>Mostrar minha idade</ion-label>
              <ion-toggle slot="end" [(ngModel)]="mostraIdade"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Mostrar gênero</ion-label>
              <ion-toggle slot="end" [(ngModel)]="mostraGenero"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Mostrar orientação sexual</ion-label>
              <ion-toggle slot="end" [(ngModel)]="mostraOrientacao"></ion-toggle>
            </ion-item>
          </ion-list>
      </ion-col>           
    </ion-row>
    </ion-col>   
  </ion-row> 
</ion-content>
