.bloco-imagens{
  margin-bottom: 15px;
  .image-card{
    .border-card {          
      background-color: rgb(212, 212, 212);
      height: 160px;
      margin: 0px 0px 10px 0px;
      border: 2px;
      border-color: rgba(177, 177, 177, 0.938);
      border-style: dashed;      
    }
    .card {          
      background-color: rgb(212, 212, 212);
      height: 160px;
      margin: 0px;
    }

    ion-img{
      float:left;
      width: 100%;
      height: 100%;
    }

    ion-button{
      --border-width: 0px;
      --border-color: var(--ion-color-light-shade);
      --border-style: solid;
      --padding-start: 0;
      --padding-end: 0;
      --padding-bottom: 0;
      --padding-top: 0;
  
      --border-radius: 50%;
      height: 35px;
      width: 35px;
  
      position: absolute;
      right: -2%;
      bottom: -2%;
  
      ion-icon {          
        width: 18px;
        height: 18px;
      }
    }
  }
}

.labelteste{
  margin-bottom: 5px;
}

.toggle-genero{
  margin-top: 5px;
}
