<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="4"> 
          <ion-card class="tamanho-card">
            <ion-img src="../../assets/img/avatar.svg"></ion-img>
            <ion-note detail slot="end" color="primary"> <ion-icon class="person-outline"></ion-icon></ion-note>
          </ion-card>
        </ion-col>
        <ion-col size="4"> 
          <ion-card class="tamanho-card">
            <ion-img src="../../assets/img/avatar.svg"></ion-img>
          </ion-card>
        </ion-col> 
        <ion-col size="4"> 
          <ion-card class="tamanho-card">
            <ion-img src="../../assets/img/avatar.svg"></ion-img>
          </ion-card>
        </ion-col>   
      </ion-row>
      <ion-row>
        <ion-col size="4"> 
          <ion-card class="tamanho-card">
            <ion-img src="../../assets/img/avatar.svg"></ion-img>
          </ion-card>
        </ion-col>
        <ion-col size="4"> 
          <ion-card class="tamanho-card">
            <ion-img src="../../assets/img/avatar.svg"></ion-img>
          </ion-card>
        </ion-col> 
        <ion-col size="4"> 
          <ion-card class="tamanho-card">
            <ion-img src="../../assets/img/avatar.svg"></ion-img>
          </ion-card>
        </ion-col>   
      </ion-row>
      <ion-card>
        <ion-list>
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="../../assets/img/avatar.svg">
                  </ion-avatar>
                  <ion-label>
                    <div class="align">
                    <h2 class="ion-text-start">Lacey Mae Howe</h2>
                </div>
                    <p>this is Chat</p>
                  </ion-label>
                  <ion-note detail slot="end" color="primary"> <ion-icon class="person-outline"></ion-icon></ion-note>
                </ion-item>
              </ion-list>
        </ion-card>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-icon name="person-outline" class="ion-padding-end"></ion-icon>
          <ion-input type="text" autocapitalize="on" placeholder="Nome"></ion-input>          
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input type="text" autocapitalize="on" placeholder="Sobrenome"></ion-input> 
        </ion-item>
      </ion-col>  
    </ion-row>
    </ion-col>   
  </ion-row> 
</ion-content>
