<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grupos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-card color="light">
          <ion-col size="6">
            <img src="../../assets/img/avatar.svg">    
            <span>Bodegueiro</span>
            <ion-icon name="star"></ion-icon>               
          </ion-col>                           
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
