ion-card {
    overflow: hidden;
    .imagem-estab {
        margin: 10px;
        width: 22%;
        float: right;
        border-radius: 10px !important;
    }
    .nome-estab {
        margin: 10px;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
    }
    .detalhes-estab {
        overflow: hidden;
        .avaliacao {
            color: #FFC100;
            display: inline;
            padding-left: 10px; 
            font-weight: bold;
        }
        .avatar-itens {
            padding-left: 15px;
            padding-bottom: 0px;
            overflow: hidden;
            ion-avatar {
                display: inline-block;
                width: 22px;
                height: 22px;
                margin-left: -8px;
                margin-top: 5px;
                img {
                    border: solid 2px;
                    border-color: rgb(245, 245, 245);
                }
            }
            .qtd-usuarios {
                display: inline-block;
                margin: 0px;
                padding-top: 13px;
                font-size: 10px;
                position: relative;
                bottom: 5px;
            }
        }
        
    }
}