<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grupos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-card color="light" size="12" *ngFor="let card of cardEstab; let i = index" (click)="abrirEstab(i)">
        <img class="imagem-estab" src="../../assets/img/avatar.svg">
        <span class="nome-estab">Bodegueiro</span>
        <div class="detalhes-estab">
          <p class="avaliacao"><ion-icon name="star"></ion-icon> 4.7</p>
          <div class="avatar-itens">
            <ion-avatar *ngFor="let img of imgPerfil; let i = index">
              <img src="../../assets/img/avatar.svg">
            </ion-avatar>
            <p class="qtd-usuarios">... +100 pessoas</p>
          </div>                          
        </div>                          
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
