<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" color="primary" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>Sexo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-radio-group [(ngModel)]="radioValue" value="sexo">
          <ion-item>
            <ion-label>Homem</ion-label>
            <ion-radio slot="end" value="Homem"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Mulher</ion-label>
            <ion-radio slot="end" value="Mulher"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-item detail (click)="selecionaMais()">
            <ion-label>Mais</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>  
</ion-content>
